</div>
        <div class="footercontainer">
            <div class="footnav">
                <li class="li_items"><a href="/" class="foot_items">Home</a></li>
                <li class="li_items"><a href="/viewall" class="foot_items">Customers</a></li>
                <li class="li_items"><a href="/transactions" class="foot_items">Transactions</a></li>
                <li class="li_items"><a href="/about" class="foot_items">About Us</a></li>
                <li class="li_items"><a href="https://deependra-portfolio.herokuapp.com/" class="foot_items">More</a></li>
            </div>
            
            <div class="copyright footnav foot_items">&#169;2022 <span style="color:rgb(195, 195, 195); margin-left:5px;">deependrasinghdhau@gmail.com</span> </div>
        </div>