
        <div class="navbar">            
            <div class="logo">
                <!-- <img src="../media/logo/ANDROWEB.png" alt=""> -->
                <div class="logotext">Sparks Bank</div>
            </div>
            <div class="navitems">
                <li class="li_items"><a href="/" class="items">Home</a></li>
                <li class="li_items"><a href="/viewall" class="items">Customers</a></li>
                <li class="li_items"><a href="/transactions" class="items">Transactions</a></li>
                <li class="li_items"><a href="/about" class="items">About us</a></li>
                <li class="li_items"><a href="https://deependra-portfolio.herokuapp.com/" class="items">More</a></li>
            </div>
        </div>
