<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link
        href="https://fonts.googleapis.com/css2?family=Arimo:wght@500&family=Baloo+Bhai+2:wght@700&family=Bebas+Neue&family=Josefin+Sans:ital,wght@1,200&family=League+Spartan:wght@700&family=Lobster&family=Poppins:wght@300&family=Rubik:wght@300&family=Ubuntu:wght@300&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="../css/about.css">
</head>

<body>
    {{>navbar}}
    <div class="supercontainer">
        <div class="container">
            <div class="heading">About Developer</div>
            <div class="profile">
                <div class="center">
                    <img src="../media/profile/profile.jpg" alt="Profile.jpg">
                </div>
                <div class="name">Deependra Singh</div>
            </div>
            <div class="para">
                <p>Hello everyone, I am a Code geek currently studying in poornima university and pursuing B.Tech
                    computer science engineering. Intersted in the field of full stack development. Microsoft azure and
                    nptel certified.
                    </p>
                    <br>
                    <p>In full stack development. I accquired new skills for example I master HTML5 and CSS3 for UI/UX
                    development in web applications and for logic purposes I started using JavaScript and intermediate
                    it in front end development.
                    </p>
                    <br>
                    <p>
                    For Back End Development I commonly use node.js to deploy web-apps in production. For End point
                    creation in Back End I use Express.js which make my tasks much more easier.
                    Passionate MERN Stack Developer with experience in developing good quality web applications.
                    Passionate about implementing and launching new projects. Ability to translate business requirements
                    into technical solutions.
                    </p>
            </div>
        </div>
    </div>
    {{>footer}}

</body>

</html>