<div class="elementbody">
    <div class="data">
            <div class="name margin"> {%tempname%} </div>
            <div class="accountno margin">{%tempaccountno%}</div>
            <div class="currbalance margin">₹{%tempbalance%}</div>
    </div>
            <a href="/send/{%accountno%}" class="btn">Send Money</a>
        </div>