<div class="elementbody">
    <div class="data">
            <div class="name margin"> {%tempsender%} </div>
            <div class="accountno margin">₹{%tempamount%}</div>
            <div class="currbalance margin">{%tempreceiver%}</div>

    </div>
            <div class=" margin status" style="color: {%tempcolor%};">{%tempstatus%}</div>
            
        </div>