<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
        href="https://fonts.googleapis.com/css2?family=Arimo:wght@500&family=Baloo+Bhai+2:wght@700&family=Bebas+Neue&family=Josefin+Sans:ital,wght@1,200&family=League+Spartan:wght@700&family=Lobster&family=Poppins:wght@300&family=Rubik:wght@300&family=Ubuntu:wght@300&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/customer.css">
    <title>Customers</title>
</head>
<body>
        <div class="navbar">            
            <div class="logo">
                <div class="logotext">Sparks Bank</div>
            </div>
            <div class="navitems">
                <li class="li_items"><a href="/" class="items">Home</a></li>
                <li class="li_items"><a href="/viewall" class="items">Customers</a></li>
                <li class="li_items"><a href="/transactions" class="items">Transactions</a></li>
                <li class="li_items"><a href="/about" class="items">About us</a></li>
                <li class="li_items"><a href="https://deependra-portfolio.herokuapp.com/" class="items">More</a></li>
            </div>
        </div>
        <div class="container">
        <div class="elementbody head">
            <div class="data">
            <h4 class="margin">Name</h4>
            <h4 class="margin">Account no</h4>
            <h4 class="margin">Current Balance</h4>

            </div>
            <h4 class="margin width">Send ₹</h4>
        </div>

